<?xml version="1.0" encoding="utf-8"?>
<Content Key="f053c373-7d03-4e94-afef-ae684886ae29" Alias="/en/">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="42af3bca-4f98-4c6b-a2ba-8a08e3899494">Home Page Test</Root>
    <SortOrder>0</SortOrder>
  </Info>
</Content>