<?xml version="1.0" encoding="utf-8"?>
<Member Key="8d15d243-c50b-40cd-94d6-757388f79a40" Level="1" Alias="editor@email.com">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000" />
    <Path>/Editor</Path>
    <Trashed>false</Trashed>
    <ContentType>Member</ContentType>
    <CreateDate>2024-05-09T10:31:41.123Z</CreateDate>
    <NodeName Default="Editor" />
    <SortOrder>0</SortOrder>
    <Email>editor@email.com</Email>
    <Username>editor</Username>
    <MemberType>Member</MemberType>
    <RawPassword>AQAAAAIAAYagAAAAEHAInN1HCu75FzFGKvi0CSIDDCOVXgGcQorXYE0j9zPAumCI/jx2RRFdc59lDvL4aQ==</RawPassword>
  </Info>
  <Properties>
    <umbracoMemberComments>
      <Value><![CDATA[Test]]></Value>
    </umbracoMemberComments>
  </Properties>
  <Groups />
</Member>