<?xml version="1.0" encoding="utf-8"?>
<Content Key="fd1e0da5-5606-4862-b679-5d0cf3a52a59" Level="1">
  <Info>
    <Name>Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{"ShowOpenButton":false,"IgnoreUserStartNodes":false}]]></Config>
</Content>