<?xml version="1.0" encoding="utf-8"?>
<Content Key="0e9794eb-f9b5-4f20-a788-93acd233a7e4" Level="1">
  <Info>
    <Name>Label (datetime)</Name>
    <EditorAlias>Umbraco.Label</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{"ValueType":"DATETIME"}]]></Config>
</Content>