<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0808dd3-8133-4e4b-8ce8-e2bea84a96a4" Level="1">
  <Info>
    <Name>List View - Content</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{"PageSize":100,"OrderDirection":"desc","IncludeProperties":[{"Alias":"updateDate","Header":"Last edited","IsSystem":1},{"Alias":"owner","Header":"Updated by","IsSystem":1}],"OrderBy":"updateDate","Layouts":[{"Name":"Grid","Path":"views/propertyeditors/listview/layouts/grid/grid.html","Icon":"icon-thumbnails-small","IsSystem":1,"Selected":true},{"Name":"List","Path":"views/propertyeditors/listview/layouts/list/list.html","Icon":"icon-list","IsSystem":1,"Selected":true}],"BulkActionPermissions":{"AllowBulkPublish":true,"AllowBulkUnpublish":true,"AllowBulkCopy":true,"AllowBulkMove":true,"AllowBulkDelete":true},"ShowContentFirst":false,"UseInfiniteEditor":false}]]></Config>
</Content>