<?xml version="1.0" encoding="utf-8"?>
<Content Key="92897bc6-a5f3-4ffe-ae27-f2e7e33dda49" Level="1">
  <Info>
    <Name>True/false</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{"Default":false,"ShowLabels":false}]]></Config>
</Content>