<?xml version="1.0" encoding="utf-8"?>
<Content Key="8f430dd6-4e96-447e-9dc0-cb552c8cd1f3" Level="1">
  <Info>
    <Name>Upload Audio</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{"FileExtensions":[{"Id":0,"Value":"mp3"},{"Id":1,"Value":"weba"},{"Id":2,"Value":"oga"},{"Id":3,"Value":"opus"}]}]]></Config>
</Content>