<?xml version="1.0" encoding="utf-8"?>
<Content Key="70575fe7-9812-4396-bbe1-c81a76db71b5" Level="1">
  <Info>
    <Name>Upload Video</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{"FileExtensions":[{"Id":0,"Value":"mp4"},{"Id":1,"Value":"webm"},{"Id":2,"Value":"ogv"}]}]]></Config>
</Content>