<?xml version="1.0" encoding="utf-8"?>
<Content Key="bc1e266c-dac4-4164-bf08-8a1ec6a7143d" Level="1">
  <Info>
    <Name>Upload Article</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{"FileExtensions":[{"Id":0,"Value":"pdf"},{"Id":1,"Value":"docx"},{"Id":2,"Value":"doc"}]}]]></Config>
</Content>