<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f70a9ba-8ea9-433f-bab4-757a6321d863" Level="2" Alias="About">
  <Info>
    <Parent Key="42af3bca-4f98-4c6b-a2ba-8a08e3899494">Home Page Test</Parent>
    <Path>/HomePageTest/About</Path>
    <Trashed>false</Trashed>
    <ContentType>subPage</ContentType>
    <CreateDate>2024-05-03T10:48:42.753Z</CreateDate>
    <NodeName Default="About" />
    <SortOrder>1</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="c2e5d0e1-82c7-4813-a277-2fab9c10d959">Sub Page</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[This is for about]]></Value>
    </title>
  </Properties>
</Content>