<?xml version="1.0" encoding="utf-8"?>
<Content Key="bb73d733-d96f-44aa-874f-b420193abe3b" Level="2" Alias="Blog">
  <Info>
    <Parent Key="42af3bca-4f98-4c6b-a2ba-8a08e3899494">Home Page Test</Parent>
    <Path>/HomePageTest/Blog</Path>
    <Trashed>false</Trashed>
    <ContentType>subPage</ContentType>
    <CreateDate>2024-05-03T16:33:39.057Z</CreateDate>
    <NodeName Default="Blog" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c2e5d0e1-82c7-4813-a277-2fab9c10d959">Sub Page</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[This is for blog]]></Value>
    </title>
  </Properties>
</Content>