<?xml version="1.0" encoding="utf-8"?>
<Content Key="aec4e7a0-3f1f-4b7e-b4cf-18e621cc8e82" Level="2" Alias="Test">
  <Info>
    <Parent Key="42af3bca-4f98-4c6b-a2ba-8a08e3899494">Home Page Test</Parent>
    <Path>/HomePageTest/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>subPage</ContentType>
    <CreateDate>2024-05-07T08:52:39.023Z</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="c2e5d0e1-82c7-4813-a277-2fab9c10d959">Sub Page</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[test  asd]]></Value>
    </title>
  </Properties>
</Content>