<?xml version="1.0" encoding="utf-8"?>
<Content Key="16fbb6e4-375c-4fd8-8384-f8c0f806498a" Level="1" Alias="Test home">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Testhome</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-05-09T11:31:22.873Z</CreateDate>
    <NodeName Default="Test home" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2b2412bb-d6db-4a31-a12d-eb5be8a5f52c">Home page</Template>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[This is for contact check]]></Value>
    </title>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>