<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="92cf63eb-317a-4563-b230-dc2329066b05" Alias="editor">
  <Info>
    <Sections>content,forms,media</Sections>
    <Icon>icon-tools</Icon>
    <Name>Editors</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[C,A,D,M,O,S,K,T,P,U,Z,:,5,F,ï,N]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>true</HasAccessToAllLanguages>
  </Languages>
</UserGroup>