<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="e4e60950-6c4a-4e30-afde-98eca639757b" Alias="sensitiveData">
  <Info>
    <Sections></Sections>
    <Icon>icon-lock</Icon>
    <Name>Sensitive data</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>false</HasAccessToAllLanguages>
  </Languages>
</UserGroup>