<?xml version="1.0" encoding="utf-8"?>
<UserGroup Key="baf04e40-954b-450d-af9a-4bf10d6c8429" Alias="writer">
  <Info>
    <Sections>content</Sections>
    <Icon>icon-edit</Icon>
    <Name>Writers</Name>
    <StartContentId>00000000-0000-0000-0000-000000000000</StartContentId>
    <StartMediaId>00000000-0000-0000-0000-000000000000</StartMediaId>
    <Permission><![CDATA[C,A,H,:,F,N]]></Permission>
  </Info>
  <AssignedPermissions />
  <Languages>
    <HasAccessToAllLanguages>true</HasAccessToAllLanguages>
  </Languages>
</UserGroup>