<?xml version="1.0" encoding="utf-8"?>
<User Key="00000001-0000-0000-0000-000000000000" Alias="editor@email.com">
  <Info>
    <Comments />
    <Name>editor</Name>
    <Username>editor@email.com</Username>
    <Email>editor@email.com</Email>
    <EmailConfirmed></EmailConfirmed>
    <FailedAttempts>0</FailedAttempts>
    <Approved>true</Approved>
    <LockedOut>false</LockedOut>
    <Language>en-US</Language>
    <RawPassword>AQAAAAIAAYagAAAAEFNKBc3lnCGUaXY1sULOKXWDglwfxVlwLnbjjIJOwgarBkt0Ijt4SIObzLIY1mYD6w==</RawPassword>
  </Info>
  <Groups>
    <Group>
      <Alias>editor</Alias>
    </Group>
  </Groups>
  <StartContentNodes />
  <StartMediaNodes />
</User>