<?xml version="1.0" encoding="utf-8"?>
<protect Key="2f70a9ba-8ea9-433f-bab4-757a6321d863" Alias="About">
  <Info>
    <Path>/HomePageTest/About</Path>
    <LoginNode Key="bb73d733-d96f-44aa-874f-b420193abe3b">/HomePageTest/Blog</LoginNode>
    <NoAccessNode Key="bb73d733-d96f-44aa-874f-b420193abe3b">/HomePageTest/Blog</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>editor</RuleValue>
    </Rule>
  </Rules>
</protect>