<?xml version="1.0" encoding="utf-8"?>
<protect Key="bb73d733-d96f-44aa-874f-b420193abe3b" Alias="Blog">
  <Info>
    <Path>/HomePageTest/Blog</Path>
    <LoginNode Key="bb73d733-d96f-44aa-874f-b420193abe3b">/HomePageTest/Blog</LoginNode>
    <NoAccessNode Key="bb73d733-d96f-44aa-874f-b420193abe3b">/HomePageTest/Blog</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>editor</RuleValue>
    </Rule>
  </Rules>
</protect>