<?xml version="1.0" encoding="utf-8"?>
<protect Key="42af3bca-4f98-4c6b-a2ba-8a08e3899494" Alias="Home Page Test">
  <Info>
    <Path>/HomePageTest</Path>
    <LoginNode Key="bb73d733-d96f-44aa-874f-b420193abe3b">/HomePageTest/Blog</LoginNode>
    <NoAccessNode Key="bb73d733-d96f-44aa-874f-b420193abe3b">/HomePageTest/Blog</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>editor</RuleValue>
    </Rule>
  </Rules>
</protect>