<?xml version="1.0" encoding="utf-8"?>
<protect Key="aec4e7a0-3f1f-4b7e-b4cf-18e621cc8e82" Alias="Test">
  <Info>
    <Path>/HomePageTest/Test</Path>
    <LoginNode Key="bb73d733-d96f-44aa-874f-b420193abe3b">/HomePageTest/Blog</LoginNode>
    <NoAccessNode Key="bb73d733-d96f-44aa-874f-b420193abe3b">/HomePageTest/Blog</NoAccessNode>
  </Info>
  <Rules>
    <Rule>
      <RuleType>MemberUsername</RuleType>
      <RuleValue>editor</RuleValue>
    </Rule>
  </Rules>
</protect>