<?xml version="1.0" encoding="utf-8"?>
<Content Key="6124ea96-69c4-4b54-b690-296abd379756" Level="1" Alias="Home Page Test">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePageTest</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2024-05-09T14:23:46.333Z</CreateDate>
    <NodeName Default="Home Page Test" />
    <SortOrder>0</SortOrder>
    <Published Default="false" />
    <Schedule />
    <Template Key="2b2412bb-d6db-4a31-a12d-eb5be8a5f52c">Home page</Template>
    <IsBlueprint>true</IsBlueprint>
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[This is home page title]]></Value>
    </title>
    <description>
      <Value><![CDATA[]]></Value>
    </description>
  </Properties>
</Content>